# flyctl launch added from .gitignore
**/node_modules
**/*.log*
**/.nuxt
**/.nitro
**/.cache
**/.output
**/.env
**/dist
**/.gitpod.yml
**/package-lock.json
**/.local
**/.config
**/.bash_history
**/.gitconfig
fly.toml
